{% extends 'base.html.twig' %}

{% block title %}Recherche de Cartes{% endblock %}

{% block body %}

{% if app.user %}
    <a href="{{ path('app_deck_manager', {'id': user.id})}}">MES DECKS</a>
{% endif %}

<main>
    <h1>Recherche de Cartes</h1>


    

    <input type="text" class="search" name="search" id="searchId" placeholder="Chercher une carte...">
    <select class="card" name="cardName" id="cardSelect"></select>
    <button type="button" id="researchStart">Rechercher</button>

    <div id="cardBoard" class="board"></div>
</main>

{% block javascripts %}
<script src="{{ asset('app.js') }}"></script>

{% endblock %}
{% endblock %}

 


