{% extends 'base.html.twig' %}

{% block title %}Accueil Magic-Hub{% endblock %}

{% block body %}
<h1>Bienvenue sur la page d'accueil</h1>

{% if is_granted("ROLE_USER") %}
    <a href="{{ path('app_articleForm')}}">Rédiger un article</a>
{% endif %}


<main>
    <h1>Récupérer des cartes</h1>

    <input type="text" class="search" name="search" id="searchId" placeholder="Chercher une carte..">
    <select class="card" name="cardName" id="cardId"></select>

    <div id="board"></div> <!--div for displaying the leaflet map-->
</main>

{% endblock %}


