{% extends 'base.html.twig' %}

{% block title %}Accueil Magic-Hub{% endblock %}

{% block body %}
<h1>Bienvenue sur la page d'accueil</h1>

{% if IsGranted("ROLE_USER") %}
    <a href="{{ path('app_articleForm')}}">Rédiger un article</a>
{% endif %}

{% endblock %}


