{% extends 'base.html.twig' %}

{% block title %}Constructeur de deck{% endblock %}

{% block body %}

<h1>Deck Builder</h1>
<h2>{{ deck.deckName }}</h2>
<p>créé le {{ deck.creationDate|date('d.m.Y H:i') }}</p>
<main>

</main>

{% endblock %}