@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.averia-serif-libre-light {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-serif-libre-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-serif-libre-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}

.gradient {
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
}

.gradient-adapt {
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122); 
  background: linear-gradient(to right, #6f0000, #200122); 
}

.gradient-bg {
  background-color: #200122;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #6f0000, #200122); 
  background-color: linear-gradient(to right, #6f0000, #200122); 
}

.bg-gradient-purple {
  background-color: #200122;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #6f0000, #200122); 
  background-color: linear-gradient(to right, #6f0000, #200122); 
}

.bg-gradient-red {
  background-color: #200122;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #6f0000, #200122); 
  background-color: linear-gradient(to right, #6f0000, #200122); 
}

.dragon {
  background-image: 
      url("/tests/shivan.webp");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.hydra {
  background-image: 
  url("/tests/skeleton.webp");
background-size: cover;
width: 100vw;
height: 100vh;
}

.war {
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%), 
    url("/tests/war2.webp");
  background-size: contain; 
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  max-height: 100%;
}

.bolas {
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%), 
    url("/tests/bolas.webp");
  background-size: cover; /* Ensure the image keeps its original size */
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.elesh-norn {
  background-image: url("/tests/marta-nael-atraxa.jpg");
  width:100%;
}

.light-white {
  background-color: rgba(240, 240, 240, 0.3);
}

.vh100 {
  height: 100vh
}

.vw100 {
  width: 100vw;
}

.white {
  color: white;
}

.red {
  color: red;
}

.title-homepage {
  font-size: 5.8rem;
  font-weight: 100;
}

.slim {
  font-weight: 200;
}

.bold {
  font-weight: 500;
}

.ninety {
  width: 90%;
}


.row {
  display: flex;
}

.center {
  justify-content: center
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%
}

.low-opacity {
  opacity: 0.4;
}

 /* nav {
  background: #200122;  
  background: -webkit-linear-gradient(to right, #6f0000, #200122); 
  background: linear-gradient(to right, #6f0000, #200122); 
}  */
  /* nav {
    background:rgba(0, 0, 0)
  } */


/*===========================================     HOMEPAGE     ================================================*/

.search-field {
  padding-left:10px;
  background-color: white;
}

.searchDiv {
  position: relative;
}

.searchIcon {
  position: absolute;
  right: 5px;
  bottom: 2.2px;
}

.big-mana {
  width: 6rem;
}

.small-mana {
  width: 2rem;
}

/*===========================================     FORUM     ================================================*/

.forum-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}

.postCard {
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

/*===========================================     ARTICLES     ================================================*/

#article_form_articleText {
    width: 500px;
    height: 500px;
}

.open-preview {
    display: inline-block;
    cursor: pointer;
    background: rgb(56, 190, 90);
  }

  .close-preview {
    display: inline-block;
    cursor: pointer;
    background: rgb(56, 190, 90);
  }
  
  .modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    place-content: center;
  }
  
  .modal--open {
    display: grid;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }

  .text {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }

  /*===========================================     DECK BUILDER     =============================================*/

.hidden {
  display: none;
}

.block {
  display: block;
}


  .singleCard {
    width: 250px;
    min-width: 250px;
    min-height: 350px;
    max-width: 250px;
    max-height: 350px;
    height: 350px;
  }

  .commanderCard {
    width: 250px;
    height: auto;
  }

  /*===========================================     DECK CONSULT     =============================================*/


.list-none {
    list-style-type: none;
    padding-left: 0;
}


.category-container {
  min-width: 230px;
  max-width: 250px;
  margin-bottom: 30px;
  height: auto;
}

.category-container-image {
  margin-bottom: 30px;
}

.category-container-image h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.category-container h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  margin: 5px;
}

.card-span {
  position: absolute;
  top: 2.4rem;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 14px;
}

.red-span {
  color: red;
}

.white-span {
  color: white;
}


.fade {
/* we don't need to know the border-width */
  mask:
    linear-gradient(#000 0 0), 
    /* fade only the padding area 
       (in the opposite direction) */
    linear-gradient(#0000,#000 90%) padding-box;
  mask-composite: exclude;
}

.hover-warning {
  position: relative;
}
  
.hover-warning:hover:after {
  position: absolute;
  content: attr(title);
  display: inline-block;
  left: 0px;
  top: 0px;
  padding: 5px;
  background-color: black;
  color: white;
}

.warning-illegal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 10rem;
  padding: 2px 6px;
  font-size: 1rem;
}

.warning-quantity {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  top: 5rem;
  padding: 2px 6px;
  font-size: 1rem;
}














