@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gradient {
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
}

.white {
  color: white;
}

.red {
  color: red;
}

.title-homepage {
  font-size: 5.8rem;
  font-weight: 100;
}

.slim {
  font-weight: 200;
}

.bold {
  font-weight: 500;
}

.ninety {
  width: 90%;
}


.row {
  display: flex;
}

.center {
  justify-content: center
}

.row-container {
  width: 100%;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%
}

.low-opacity {
  opacity: 0.4;
}

nav {
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

/*===========================================     HOMEPAGE     ================================================*/

.search-field {
  padding-left:10px;
  background-color: white;
}

.searchDiv {
  position: relative;
}

.searchIcon {
  position: absolute;
  right: 5px;
  bottom: 2.2px;
}

.big-mana {
  width: 6rem;
}

.small-mana {
  width: 2rem;
}

/*===========================================     FORUM     ================================================*/

.forum-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  width: 100%;
}

.postCard {
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

/*===========================================     ARTICLES     ================================================*/

#article_form_articleText {
    width: 500px;
    height: 500px;
}

.open-preview {
    display: inline-block;
    cursor: pointer;
    background: rgb(56, 190, 90);
  }

  .close-preview {
    display: inline-block;
    cursor: pointer;
    background: rgb(56, 190, 90);
  }
  
  .modal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    place-content: center;
  }
  
  .modal--open {
    display: grid;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }

  .text {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }

  /*===========================================     DECK BUILDER     ================================================*/

.hidden {
  display: none;
}

.block {
  display: block;
}

  .board {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
  }

  .singleCard {
    width: 250px;
    height: 350px;
  }
