{% extends 'base.html.twig' %}

{% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block title %}Détail d'une carte{% endblock %}

{% block body %}

<div id="cardInput" style="display: none;">{{ cardId }}</div>


<div id="detailBoard" class="detailBoard">
</div>

{% endblock %}
