{% extends 'base.html.twig' %}

{% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block title %}Détail d'une carte{% endblock %}

{% block body %}

<input id="cardInput" value="{{ cardId }}" type="text"/>


<div id="detailBoard" class="detailBoard">
</div>


{% endblock %}
