{% extends 'base.html.twig' %}

{% block title %}Détail d'une carte{% endblock %}

{% block body %}

<input id="cardInput" type=""hidden" value="{{ cardId }}">

<div id="detailBoard" class="detailBoard">
    Détails de la carte {{ cardId }}
</div>



{% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% endblock %}
