{% if searchForm %}
  {{ form_start(searchForm) }}
  <div class="relative input-group flex flex-wrap items-stretch w-full mb-4">
      <label for="Search" class="sr-only"> Recherche sur le forum </label>

      {{ form_widget(searchForm.q, {'attr': {'class': 'w-full rounded-md border-gray-200 p-2 py-2.5 pe-10 shadow-sm sm:text-sm border rounded-lg focus:outline focus:outline-black'}}) }}
    
      <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
        <button id="submitSearch" name="submit" type="submit" class="text-gray-600 hover:text-gray-700">
          <span class="sr-only">Recherche</span>
    
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </button>
      </span>
    </div>
  {{ form_end(searchForm) }}
{% endif %}