{% extends 'base.html.twig' %}

{% block title %}Publier un article{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


    {{ form_start(form, {'attr': {'id': 'article-form'}}) }}
        {{ form_row(form.articleTitle) }}
        {{ form_row(form.articleText) }}
        {# <button type="submit" class="btn">Publier l'article</button> #}
    {{ form_end(form) }}


    <div class="open-preview">Preview</div>

    <div class="modal">
        <div class="close-preview">Close Preview</div>
        <div class="title"></div>
        <div class="text"></div>
        <input type="submit" form="article-form" value="Submit"/><!-- "form" attribute has to contain the actual form id from above -->
      </div>

{% block javascripts %}
    <script>
          document.addEventListener('DOMContentLoaded', function() { // le script se déclenche uniquement une fois le DOM chargé
  
            /**
            *  Fonction de prévisualisation des articles rédigés pour le site
            */
            let btnPreview = document.querySelector('.open-preview');

            if(btnPreview) {

                btnPreview.addEventListener('click', e => {

                    let title = document.querySelector('#article_form_articleTitle').value; // Get value of current form title input
                    let text = document.querySelector('#article_form_articleText').value; //Get value of current form text input

                    document.querySelector('.title').textContent = title; //Set title as content of preview div
                    document.querySelector('.text').textContent = text; //Set text as content of preview div
                    
                    document.querySelector('.modal').classList.add('modal--open'); // Open modal
                });

                let btnClosePreview = document.querySelector('.close-preview');
                if (btnClosePreview) {
                    btnClosePreview.addEventListener('click', e => {
                        document.querySelector('.modal').classList.remove('modal--open');
                    });
                }

                let form = document.querySelector('#article-form');
                if (form) {
                    form.addEventListener('submit', e => {
                        document.querySelector('.modal').classList.remove('modal--open');
                        // e.preventDefault(); // Si tu veux désactiver l'envoi du formulaire pour le débogage
                        // return false;
                    });
                } 
            }
        });
    </script>
  {% endblock %}
  {% endblock %}