{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue sur le forum de Magic-Hub</h1>


    {% include "components/_search_data.html.twig" with {
        form: searchForm
    } only %}

    {% for category in categories %}
    
       <h3>{{ category.forumCategoryName }}</h3> 

        {% for subCategory in category.subCategories %}

        <a href="{{ path('app_forum_topics', {id: subCategory.id}) }}">{{ subCategory.subCategoryName }}</a>

        {% endfor %} <br>
      
    {% endfor %}
</div>

{% endblock %}
