{% extends 'base.html.twig' %}

{% block title %}Hello ForumPostController!{% endblock %}

{% block body %}

    <h1>Topics By SubCategory</h1>

    {% for topic in topics %}
        {{ topic.topicTitle }}
    {% endfor %}

    {{ form_start(form) }}
        {{form_row(form.topicTitle)}}
    {{ form_end(form) }}
    
{% endblock %}
