{% extends 'base.html.twig' %}

{% block title %}Liste des sujets{% endblock %}

{% block body %}

    <h1>{{ subCategory.subCategoryName }}</h1>

    {% for topic in topics %}
        <a href="{{ path('app_forum_posts', {'id': topic.id}) }}">{{ topic.topicTitle }}</a>
    {% endfor %}

    {% if app.user %} <!--Si un utilisateur est connecté, il peut ajouter un sujet à la sous-catégorie du forum-->
        <a href="{{ path('new_topic', {id: subCategory.id}) }}">Créer un sujet</a>
    {% endif %}

    
{% endblock %}
