{% extends 'base.html.twig' %}


{% block title %}Répondre au sujet{% endblock %}

{% block body %}

<div class="w-screen h-screen flex flex-col justify-center items-center">
    {{ form_start(postForm, {'attr': {'class': 'bg-white bg-opacity-10 p-6 rounded-lg shadow-lg w-full max-w-md mx-auto'}}) }}

        <div class="mb-4">
            {{ form_widget(postForm) }} <!-- Render the form fields -->
        </div>

        <button type="submit" id="submit" class="w-full bg-red-700 text-white px-4 py-2 rounded-lg hover:bg-red-900 transition duration-200">Envoyer</button>

    {{ form_end(postForm) }}
</div>

{% endblock %}